<div th:fragment="input(fieldName, label, inputType, placeholder, hasError, errorText)" class="mb-3">
    <label class="form-label" th:for="${fieldName}" th:text="${label}">Label</label>
    <input class="form-control"
           th:id="${fieldName}"
           th:name="${fieldName}"
           th:type="${inputType ?: 'text'}"
           th:placeholder="${placeholder ?: ''}"
           th:value="${#fields.hasAnyErrors() ? #fields.fieldValue(fieldName) : ''}"
           th:classappend="${hasError} ? ' is-invalid' : ''">
    <div class="invalid-feedback d-block" th:if="${hasError}" th:text="${errorText}">Invalid input</div>
</div>

